:root {
  --primary-color: rgb(29, 155, 240);
  --primary-hover-color: rgb(23, 139, 216);
  --text-color: #fff;
  --text-secondary-color:rgb(113, 118, 123);
  --background-color: #000;
  --border-color: rgb(47, 51, 54);
  --button-padding-left: 16px;
  --buttom-padding-right: 16px;
  --border-radius:9999px;
  --svg-fill:#fff;

  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

.border-main-items{
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.ajc-top-bn + .ajc-top-bn{
  border-top:none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --svg-fill:#000;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
